body {
	background-color: antiquewhite;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: saddlebrown;
	font-family: Garamond, Garamond, serif;
}
header {
  background-color: saddlebrown;
  color: antiquewhite;
  text-align: center;
  padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    text-align: left;
    float: left;
    padding-left: 20px;
    padding-bottom: 40px;
}
header a:link {text-decoration: none;
	color: antiquewhite;
}
header a:visited {text-decoration: none;
	color: antiquewhite
}
h1 {
  font-size: 6em;
    font-style: italic;
    color: antiquewhite;
    align-content: center;
}
h2 {
    font-size: 4.5em;
    font-style: italic;
    color: saddlebrown;
    background-color: antiquewhite;
    padding-left: 1em;
    padding-right: 1em;
    text-align:center
}
h3 {
  font-size: 2em;
}
.image-right {
  float: right;
  margin-right: 20px;
}
p {
    font-size: 2.5em;
    color: saddlebrown;
    background-color: antiquewhite;
    line-height: 2;
    padding-left: 1em;
    text-align: left;
}
h2 {margin: 2;
text-align: center}
hp {margin: 2;
text-align: left}
nav {
  background-color: saddlebrown;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li {
  margin: 0;
}
nav ul li a {
  display: block;
    font-size: 2em;
    font-style: oblique;
  padding: 15px 25px;
  color: antiquewhite;
  text-decoration: none;
  transition: background 0.2s;
}
nav ul li a:hover {
  background-color: sandybrown;
}
.photo img {
  width: 100%;
  height: auto;
  display: block;
}
img {
	padding-left: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
    font-size: 2em;
}

tr:nth-child(even){background-color: antiquewhite}
tr:nth-child(odd) {background-color: antiquewhite}
.container {
    padding: 2rem;
}
.slider-wrapper {
    position: relative;
    max-width: 80rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 4/3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem
        hsla (0%, 0%, 0%, 0.25%);
    border-radius: 0.5rem;
}
.slider-img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    border-radius: 50%;
    background-color:antiquewhite;
    opacity: 0.75;
    transition: opacity ease 0.25s;
}
.slider-nav a:hover {
    opacity: 1;
    
}
.content {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.content h2 {
  color: antiquewhite;
  margin-bottom: 10px;
}
input[type=text], textarea {
  padding: 12px;
  font-family: Garamond, Garamond, serif;
  font-size: 1em;
  font-style: italic;
  border: 1px solid saddlebrown;
  color: saddlebrown;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email], textarea {
  padding: 12px;
  font-family: Garamond, Garamond, serif;
  font-size: 1em;
  font-style: italic;
  border: 1px solid saddlebrown;
  color: saddlebrown;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: saddlebrown;
  font-family: Garamond, Garamond, serif;
  font-size: 1.5em;
  font-style: italic;
  color: antiquewhite;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: sandybrown;
}
.container {
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 5px;
}
.foo{
width:100%;
}
img[src="map.png"] {
  width: 10px;
  float: right;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}
footer {
  text-align: left;
  padding: 15px 0;
  font-size: 2em;
  padding-left: 50px;
  padding-bottom: 20px;
  background-color: saddlebrown;
  color: antiquewhite;
  font-style: italic;
  margin-top: 40px;
}
footer img {
    text-align: right;
    float: right;
    padding-right: 40px;
    justify-content: center;
}